.App {
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, h1, h2, h3, ol, ul, div {
  line-height: normal;
  line-break: strict;
  border: 0;
  padding: 0;
  position: static;
  overflow: visible;
}
