.resume {
    font-family: 'Segoe UI';
    text-align: center;
    display: flex;
    flex-direction: column;
}
  
.resume-header {
    align-items: center;
    justify-content: top;
}

.big-text {
    font-size: calc(10px + 2vmin);
}

.resume-body {
    font-size: 10pt;
    text-align: left;
    align-items: flex-start;
    justify-content: top;
}

.name {
    color: teal;
    margin: 0;
}